
<div class="row">

<div class="col-md-1"></div>


<div class="col-md-10">  
<p>
<a routerLink="/admin/products/new" class="btn btn-primary">Add New Movie</a>
</p>
    
 <p>
 <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search the movies by title..." style="width: 350px;">
 </p>
           
    
    <table class="table table-striped">
    
    <thead>
      <tr>
          
        <th>Title</th>
        <th>Price (₹)</th>
        <th></th>
      </tr>
    </thead>
    
    <tbody>
    
      <tr *ngFor="let p of filteredProducts">
        <td>{{p.title}}</td>
        <td>{{p.price}}</td>
       <td> <a [routerLink]="['/admin/products/',p.$key]">Edit</a></td>
    
      </tr>
    </tbody>
    
    </table> 
    
</div>

<div class="col-md-1"></div>

</div>

