<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">Vishal's DVDShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-cart">Cart
           <span class="badge badge-warning badge-pill">
        {{shoppingCartItemCount}}
        </span>
        </a>
      </li>


<ng-template #anonymousUser>

<li class="nav-item">
  <a class="nav-link" routerLink="/login">Login</a>
</li>

</ng-template>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li *ngIf="auth.user$ | async as user; else anonymousUser" class="nav-item dropdown" id="username">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <b> {{user.displayName}}</b>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/my/orders">My Orders</a>


            <a class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="admin/products">Manage Movies</a>
        
          <button class="dropdown-item" (click)="logout()">Logout</button>

        </div>
      </li>
     
    </ul>
   
  </div>
</nav>

   