
.nav{padding: 20px;
    height: 60px;
color: white;
    background-color: #312e2e;
}

#dvd{
font-weight: 500;
font-size: 20px;
}

.navbar navbar-expand-lg navbar-light bg-light{

    color: white;
}


.col-md-8{
    width: 100%;
    height: auto;

}

.title{
   background-color: #0a0a0a7a;
   font-weight: 700;
}

.popular{

    margin-left: 300px;
font-size:25px;
font-weight: 400;
}

.content{
padding: 20px 20px 10px 30px;

}

#imgg{ height:450px;
    background-size: auto 100%!important;
     /* -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(1.00,  rgba(0,0,0,0.5)));  */
}

.star{

    height: 5%;
    width: 5%;
}

.back{

    /* background:  url("../assets/av.jpg"); */
    background-repeat: no-repeat;
    background-size: auto;
     background: rgba(0,0,0,0.4); 
}


#carouselExampleIndicators{
margin:10px;
    border: 1px solid black;
}


#container{

    width:960px;
    margin: 0 auto;
}

h3 {
    font-size: 1.75rem;
    padding-top: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3e563f;
}

#movlist {
   
    width: 30%;
    margin: 10px;
   float: left;
    text-align: center;
    height: 250px;
    background-size: auto 100%!important;
    position: relative;
    box-sizing: border-box;
}


.movieName{

position: absolute;

bottom: 0;
left: 0;
width: 100%;
background:#00000094;
text-align:center;
color:white;

padding: 10px 0;
}

.clear:after{

content:'';
display: block;
clear:both;

}

/* .Deadpool{

     background: url("../assets/dead.jpg") center center; 
}

.JurrasicWorld{

    background: url("../assets/jw.jpg") center center; 

}

.Incredibles2{

    background: url("../assets/i2.png") center center; 

} */


.cart{
    margin-left: 40px;
}


.login{
    margin-left: 160px;
}